{:paths ["src"]
 :deps
 {org.clojure/clojure            {:mvn/version "1.9.0"}
  org.clojure/tools.analyzer.jvm {:mvn/version "0.7.2"}
  seesaw                         {:mvn/version "1.5.0"}
  rakk                           {:git/url "https://github.com/stathissideris/rakk"
                                  :sha     "7d00e7a0be1272ebebd77fb3d0d080aa0a00bcbe"}
  cross-parinfer                 {:mvn/version "1.4.5"}
  org.clojure/tools.deps.alpha   {:git/url "https://github.com/clojure/tools.deps.alpha.git"
                                  :sha     "d492e97259c013ba401c5238842cd3445839d020"}
  org.scilab.forge/jlatexmath    {:mvn/version "1.0.7"}}
 :mvn/repos
 {"central" {:url "https://repo1.maven.org/maven2/"}
  "clojars" {:url "https://repo.clojars.org/"}}
 :aliases
 {:repl    {:extra-deps {org.clojure/tools.nrepl {:mvn/version "0.2.13"}
                         cider/cider-nrepl       {:mvn/version "0.17.0"}}}
  :pack    {:extra-deps {pack/pack.alpha {:git/url "https://github.com/juxt/pack.alpha.git"
                                          :sha "1d455f6c591f440560c57a29e6d930004d735dcf"}}
            :main-opts ["-m"]}}}
